body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*header*/
.space {
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.horizontal li {
  float: left;
  margin: 0;
  padding: 0;
}
.horizontal a {
  margin: 0;
  color: #272121;
  background-color: none;
  text-align: center;
  padding: 15px;
}
.box {
  display: flex;
}
.main {
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
#menu {
  margin-top: 20px;
}
.compra {
  margin-top: 10px;
  width: 180px;
  height: 50px;
  color: white;
  background-color: black;
}
#header {
  margin-top: -200px;
  padding: 200px;
}
/*img principal*/
.pres {
  margin-top: -200px;
  width: 100%;
  height: 800px;
  z-index: -1;
}
.template {
  background-image: url("./catedral.jpg");
  width: 100%;
  height: 675px;
}
.simple {
  position: absolute;
}
.welcome {
  position: absolute;
  margin-top: 100px;
}
